<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSWorldSensingUsageDescription</key>
	<string>Enables placing objects.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NISSAN_CONFIGURATOR_APP_ID</key>
	<string>$(NISSAN_CONFIGURATOR_APP_ID)</string>
	<key>PURSE_CONFIGURATOR_APP_ID</key>
	<string>$(PURSE_CONFIGURATOR_APP_ID)</string>
</dict>
</plist>
